body{
font-family: Arial, Helvetica, sans-serif;
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
margin:0;
color:white;
}

/* BOX */

.cadastro-box{
background:#1e293b;
padding:40px;
border-radius:12px;
box-shadow:0px 10px 25px rgba(0,0,0,0.4);
width:420px;
max-width:90%;
text-align:center;
}

/* TITULO */

h2{
margin-bottom:20px;
color:#38bdf8;
}

/* CAMPOS */

input, select, textarea{
width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:none;
box-sizing:border-box;
font-size:14px;
}

/* BOTÕES */

.btn{
width:100%;
padding:12px;
background:#38bdf8;
color:black;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
margin-top:10px;
transition:0.3s;
}

.btn:hover{
background:#0ea5e9;
}

.btn-voltar{
width:100%;
padding:12px;
margin-top:10px;
background:#64748b;
border:none;
border-radius:8px;
cursor:pointer;
font-size:14px;
color:white;
}

/* MENSAGEM */

.mensagem{
padding:15px;
border-radius:8px;
margin-bottom:15px;
font-weight:bold;
font-size:15px;
}

/* SUCESSO */

.sucesso{
background:#16a34a;
color:white;
}

/* ERRO */

.erro{
background:#dc2626;
color:white;
}